<%- include('./partials/head') %>
    
    <div class='container'>
        <%- include('./partials/header') %>
        <aside>
            <%- include('./partials/sidebar') %>
        </aside>
        <section>
            <h2>Welcome to <%= title %></h2>
            <hr>
            
            <!-- Enter view specific code here. -->
        
        </section>    
    </div>
<%- include('./partials/footer') %>
