<%- include('./partials/head') %>
    
    <div class='container'>
        <%- include('./partials/header') %>
        <aside>
            <%- include('./partials/sidebar') %>
        </aside>
        <section>
            <h2><%= title %></h2>
            <hr>
            
            <div class='cards'>
              <% if (category_list) { %>
                <% category_list.forEach(category => { %>
                  <a href='/inventory/category/<%= category.category_name %>'>
                      <div class='category-card'>
                          <h3><%= category.category_name %></h3>
                      </div>
                  </a>
              <% }) %>
              <% } else { %>
               <p>No Categories to display. Add a category!</p>
              <% } %>
            </div>
        </section>
        <%- include('./partials/footer') %>
