<%- include('./partials/head') %>
    
    <div class='container'>
        <%- include('./partials/header') %>
        <aside>
            <%- include('./partials/sidebar') %>
        </aside>
        <section>
          <div class='section-header'>
            <div>
              <h2><%= title %></h2>
              <p><%= category.category_description %></p>
            </div>
            <div class='category-button-div'>
              <a href='<%= category.url %>/update'>
                <button type='button'>Update</button>
              </a>
              <a href='<%= category.url %>/delete'>
                <button type='button'>Delete</button>
              </a>
            </div>
          </div>
          
          <hr>
          
          <% if (category.length > 0) { %>
          <span><em>*Low stock items highlighed in red</em></span>
          <div class='list-header'>
            <p>Item Name</p>
            <p>Total</p>
          </div>

          <ul class='item-list'>
           
              <% category.forEach(item => { %>
                <% if (item.number_in_stock <= item.low_limit) { %>
                <li class='low-limit-item'>
                  <a href='<%= item.url %>'>
                    <p><%= item.name %> - <strong><em><%= item.brand %></em></strong></p>
                    <p><strong><%= item.number_in_stock %></strong></p>
                  </a>
                </li>
                    <% } else { %>
                      <li>
                        <a href='<%= item.url %>'>
                          <p><%= item.name %> - <strong><em><%= item.brand %></em></strong></p>
                          <p><strong><%= item.number_in_stock %></strong></p>
                        </a>
                      </li>
                  <% } %>
              <% }) %>
            <% } else { %>
             <p>No Items to display. Add a item!</p>
            <% } %>
          </ul>
        </section>
        
        <%- include('./partials/footer') %>
