<%- include('./partials/head') %>
    
    <div class='container'>
        <%- include('./partials/header') %>
        <aside>
            <%- include('./partials/sidebar') %>
        </aside>
        <section>
            <h2>Welcome to <%= title %></h2>
            <hr>
            
            <p><strong>Inventory Overview as of:</strong> <%= current_date_time %> </p>

            <div class='cards'>
                <% categories.forEach(category => { %>
                <% var itemCount = 0 %>
                <% var unitTotal = 0 %>
                    <div class='snapshot-card'>
                        <h3><%= category.name %></h3>
                        <% items.forEach(item => { %>
                            <% if (category.name === item.category.name) { %>
                              <% itemCount++ %>
                              <% unitTotal = unitTotal + item.number_in_stock %>
                            <% } %>
                        <% }) %>
                        <p class='item-count'>Total Items: <strong><%= itemCount %></strong></p>
                        <p class='item-count'>Total Units: <strong><%= unitTotal %></strong></p>
                    </div>
                <% }) %>
            </div>
        
        </section>
        
        <%- include('./partials/footer') %>
