<%- include('./partials/head') %>
    
    <div class='container'>
        <%- include('./partials/header') %>
        <aside>
            <%- include('./partials/sidebar') %>
        </aside>
        <section>
            <h2>Welcome to <%= title %></h2>
            <hr>
            
            <p><strong>Inventory Overview as of:</strong> <%= current_date_time %> </p>

            <div class='cards'>
                <% categories.forEach(category => { %>
                    <div class='snapshot-card'>
                        <h3><%= category.category_name %></h3>
                        <p class='item-count'>Total Items: <strong><%= category.total_items %></strong></p>
                        <p class='item-count'>Total Units: <strong><%= category.total_units %></strong></p>
                    </div>
                <% }) %>
            </div>
        </section>
        
<%- include('./partials/footer') %>
