<%- include('./partials/head') %>
    
    <div class='container'>
        <%- include('./partials/header') %>
        <aside>
            <%- include('./partials/sidebar') %>
        </aside>
        <section>
            <h2>Welcome to <%= title %></h2>
            <hr>
            
            <h3>Inventory totals as of: </h3>

            <div class='cards'>
                <% categories.forEach(category => { %>
                <% var itemCount = 0 %>
                    <div class='category-card'>
                        <h3><%= category.name %></h3>
                        <% items.forEach(item => { %>
                            <% if (category.name === item.category.name) { %>
                              <% itemCount++ %>
                            <% } %>
                        <% }) %>
                        <p class='item-count'><%= itemCount %></p>
                    </div>
                <% }) %>
            </div>
        
        </section>
        
        <%- include('./partials/footer') %>
    </div>
