<%- include('./partials/head') %>
    
    <div class='container'>
        <%- include('./partials/header') %>
        <aside>
            <%- include('./partials/sidebar') %>
        </aside>
        <section>
            <h2><%= title %></h2>
            <hr>
            
           <form method='post' enctype='multipart/form-data'>
            <div class='form-section-double'>
              <div>
                <div class='form-input'>
                  <label for='itemName'>Name:</label>
                    <input type='text' name='itemName' id='itemName' required
                      value='<%= typeof item === 'undefined' ? '' : item.name %>'>
                </div>
                <div class='form-input'>
                  <label for='itemBrand'>Brand:</label>
                    <input type='text' name='itemBrand' id='itemBrand' required
                    value='<%= typeof item === 'undefined' ? '' : item.brand %>'>
                </div>
                <div class='form-input'>
                  <label for='itemPrice'>Price:</label>
                    <input type='number' name='itemPrice' id='itemPrice' min='0' step='.01' required
                    value='<%= typeof item === 'undefined' ? '' : item.price %>'>
                </div>
                <div class='form-input'>
                  <label for='itemStockCount'>In Stock:</label>
                    <input type='number' name='itemStockCount' id='itemStockCount' min='0' required
                    value='<%= typeof item === 'undefined' ? '' : item.number_in_stock %>'>
                </div>
                <div class='form-input'>
                  <label for='itemLowLimit'>Low Limit:</label>
                    <input type='number' name='itemLowLimit' id='itemLowLimit' min='0' required
                    value='<%= typeof item === 'undefined' ? '' : item.low_limit %>'>
                </div>
              
                <div class='form-input'>
                    <label for='itemDescription'>Description: </label>
                    <textarea name='itemDescription' id='itemDescription' cols='30' rows='5' required><%= typeof item === 'undefined' ? '' : item.description %></textarea>
                </div>
              </div>

              <div>
                <span class='subcategory-note'>
                  <sub>**Create a new Category/ Subcategory if an appropriate one is not listed.</sub>
                </span>
            
                  <div class='fieldset-form-input'>
                    <label for='subCategorySelect'>Category/ Subcategory</label>
                      <select name='subCategorySelect' id='subCategorySelect' required>
                          
                          <% if (typeof item == 'undefined') { %>
                            <option value=''>--Select an option--</option>
                            <% categories.forEach(category => { %>
                              <optgroup label='<%= category.category_name %>'>
                                <% sub_categories.forEach(subcategory => { %>
                                 <% if (subcategory.category_id == category.id) { %>
                                  <option value='<%= subcategory.id %>'><%= subcategory.subcategory_name %></option>
                                 <% } %>
                                <% }) %>
                              </optgroup>
                            <% }) %>
                            <% } else { %>
                              <option value=''>--Select an option--</option>
                              <% categories.forEach(category => { %>
                                <optgroup label='<%= category.category_name %>'>
                                  <% sub_categories.forEach(subcategory => { %>
                                   <% if (subcategory.category_id == category.id) { %>
                                    <% if (item.subcategory_id == subcategory.id) { %>
                                      <option value='<%= item.subcategory_id %>' selected><%= subcategory.subcategory_name %></option>
                                      <% } else { %>
                                        <option value='<%= subcategory.id %>'><%= subcategory.subcategory_name %></option>
                                    <% } %>
                                    
                                   <% } %>
                                  <% }) %>
                                </optgroup>
                              <% }) %>
                          <% } %>
                          
                      </select>
                  </div>

                  <label for='item_image_url'>Upload Item Image: </label>
                  <input type='file' name='item_image_url' id='item_image_url' accept='image/*'>
              </div>
            </div>

            <div class='button-div'>
              <button type='submit'>Submit</button>
            </div>
           </form>

           <% if (typeof errors !== 'undefined') { %>
            <ul>
                <% errors.forEach(error => { %>
                 <li><%= error.msg %></li>
                <% }) %>
            </ul>
           <% } %>

        </section>  
<%- include('./partials/footer') %>  
