<%- include('./partials/head') %>
    
    <div class='container'>
        <%- include('./partials/header') %>
        <aside>
            <%- include('./partials/sidebar') %>
        </aside>
        <section>
          <div class='section-header'>
            <h2><%= item.name %></h2>
            <% if (item.number_in_stock <= item.low_limit) { %>
             <div class='low-limit-button'>
               <p>Low Stock. Order Soon</p>
             </div>
            <% } %>

          </div>
          <hr>
          
          <div class='item-detail-wrapper'>
            <div class='item-detail'>
              <p><strong>Brand:</strong>&nbsp;<%= item.brand %></p>
              <p><strong>Description:</strong>&nbsp;<%= item.description %></p>
              <p><strong>Price:</strong>&nbsp; &dollar;<%= item.price %></p>
              <% if (item.number_in_stock <= item.low_limit) { %>
                <p class='low-limit-detail'><strong>In stock:</strong>&nbsp;<%= item.number_in_stock %></p>
                <% } else { %>
                  <p><strong>In stock:</strong>&nbsp;<%= item.number_in_stock %></p>
              <% } %>
              <p><strong>Low Limit:</strong>&nbsp;<%= item.low_limit %></p>
              <p><strong>Category:</strong>&nbsp;<%= item.category_name%></p>
              <p><strong>Subcategory:</strong>&nbsp;<%= item.subcategory_name %></p>
            </div>
            <div class='item-image'>
              <img 
                src='<%= stored_item_image %>' 
                alt='<%= item.item_image_url === '' ? 'Placeholder image' : `${item.name} image` %>'
              >
            </div>
          </div>

          <hr>
          
          <form method='post' class='delete-form'>
            <div class='admin-password-div'>
              <label for='password'>Enter Admin Password to delete 
                <strong><%= item.name %></strong>
              </label>

              <div class='password-input'>
                <input type='password' name='password' id='password'
                value='<%= typeof password === 'undefined' ? '' : password %>'>
                <% if (typeof errors !== 'undefined') { %>
                 <% errors.forEach(error => { %>
                  <p class='password-error'><%= error.msg %></p>
                 <% }) %>
                <% } %>
              </div>
            </div>

            <div class='delete-button-div'>
              <button type='submit' class='delete-button'>Delete</button>
              <a href='/inventory/item/<%= item.id %>'><button type='button'>Cancel</button></a>
            </div>
          </form>
          
        </section>
        
        <%- include('./partials/footer') %>
