<%- include('./partials/head') %>
    
    <div class='container'>
        <%- include('./partials/header') %>
        <aside>
            <%- include('./partials/sidebar') %>
        </aside>
        <section>
            <h2><%= title %></h2>
            <hr>
            
           <form method='post'>
            <div class='form-section-double'>
              <div>
                <div class='form-input'>
                  <label for='itemName'>Name:</label>
                    <input type='text' name='itemName' id='itemName'>
                </div>
                <div class='form-input'>
                  <label for='itemBrand'>Brand:</label>
                    <input type='text' name='itemBrand' id='itemBrand'>
                </div>
                <div class='form-input'>
                  <label for='itemPrice'>Price:</label>
                    <input type='text' name='itemPrice' id='itemPrice'>
                </div>
                <div class='form-input'>
                  <label for='itemStockCount'>In Stock:</label>
                    <input type='text' name='itemStockCount' id='itemStockCount'>
                </div>
                <div class='form-input'>
                  <label for='itemLowLimit'>Low Limit:</label>
                    <input type='text' name='itemLowLimit' id='itemLowLimit'>
                </div>
              
                <div class='form-input'>
                    <label for='subcatDescription'>Description: </label>
                    <textarea name='subcatDescription' id='subcatDescription' cols='30' rows='5'></textarea>
                </div>
              </div>
              <div>
                <span class='subcategory-note'>
                  <sub>**Create a new Category/ Subcategory if an appropriate one is not listed.</sub>
                </span>
            
                <div class='fieldset-form-input'>
                  <label for='categorySelect'>Category</label>
                    <select name='categorySelect' id='categorySelect'>
                        <option value=''>--Select an option--</option>
                        <% categories.forEach(category => { %>
                          <option value=''><%= category.name %></option>
                        <% }) %>
                    </select>
                </div>
                <div class='fieldset-form-input'>
                    <label for='subcategorySelect'>Subcategory: </label>
                    <select name='subcategorySelect' id='subcategorySelect'>
                      <option value=''>--Select an option--</option>
                      <% sub_categories.forEach(sub_category => { %>
                        <option value=''><%= sub_category.name %></option>
                      <% }) %>
                  </select>
                </div>
              </div>
            </div>

            <div class='button-div'>
              <button type='submit'>Submit</button>
              <button>Delete</button>
              <button>update</button>
            </div>
           </form>

           <% if (typeof errors !== 'undefined') { %>
            <ul>
                <% errors.forEach(error => { %>
                 <li><%= error.msg %></li>
                <% }) %>
            </ul>
           <% } %>
        
        </section>  
<%- include('./partials/footer') %>  
