<%- include('./partials/head') %>
    
    <div class='container'>
        <%- include('./partials/header') %>
        <aside>
            <%- include('./partials/sidebar') %>
        </aside>
        <section>
            <h2><%= title %></h2>
            <hr>
            
           <form method='post'>

            <div class='form-section-single'>
                <div class='form-input'>
                    <label for='subcatName'>Subcategory: </label>
                    <input type='text' name='subcatName' id='subcatName' required
                        value='<%= typeof subcategory === 'undefined' ? '' : subcategory.name %>'>
                </div>
                <span class='subcategory-note'>
                    <sub>**Create a new category if an appropriate one is not listed.</sub>
                </span>
                <div class='form-input'>
                  <label for='categorySelect'>Category</label>
                    <% if (typeof subcategory === 'undefined') { %>
                        <select name='categorySelect' id='categorySelect' required>
                            <option value=''>--Select an option--</option>
                            <% categories.forEach(listItem => { %>
                             <option value='<%= listItem._id %>'><%= listItem.name %></option>
                            <% }) %>
                        </select>
                        <% } else { %>
                            <select name='categorySelect' id='categorySelect' required>
                                <option value=''>--Select an option--</option>
                                <% categories.forEach(listItem => { %>
                                    <% if (listItem._id.toString() === subcategory.category._id.toString()) { %>
                                        <option value='<%= listItem._id %>' selected><%= listItem.name %></option>
                                        <% } else { %>
                                            <option value='<%= listItem._id %>'><%= listItem.name %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                    <% } %>
                </div>
            </div>

            <div class='button-div'>
                <button type='submit'>Submit</button>
            </div>
           </form>

           <% if (typeof errors !== 'undefined') { %>
            <ul>
                <% errors.forEach(error => { %>
                 <li><%= error.msg %></li>
                <% }) %>
            </ul>
           <% } %>
        
        </section>  
<%- include('./partials/footer') %>  