<%- include('./partials/head') %>
    
    <div class='container'>
        <%- include('./partials/header') %>
        <aside>
            <%- include('./partials/sidebar') %>
        </aside>
        <section>
          <div class='section-header'>
            <h2><%= title %></h2>
          </div>
          
          <% if (subcategory_items.length > 0) { %>
          <hr>
          <span>
            <em>*The following items must be recategorized or deleted before <strong><%= subcategory.name %></strong>
            can be deleted:
            </em></span>

          <ul class='item-list'>
              <% subcategory_items.forEach(item => { %>
                <% if (item.number_in_stock <= item.low_limit) { %>
                <li class='low-limit-item'>
                  <a href='<%= item.url %>'>
                    <p><%= item.name %> - <strong><em><%= item.brand %></em></strong></p>

                  </a>
                    <% } else { %>
                      <li>
                        <a href='<%= item.url %>'>
                          <p><%= item.name %> - <strong><em><%= item.brand %></em></strong></p>

                        </a>
                      </li>
                  <% } %>
              <% }) %>
            <% } %>
          </ul>

          <hr>

          <p>Do you really want to delete  <strong><%= subcategory.name %></strong>?</p>
          
          <form method='post'>
            <label for='password'>If so, enter Admin Password, then press Delete</label>
            <input type='password' name='password' id='password' 
            value='<%= typeof password === 'undefined' ? '' : password %>'>
            
            <div class='delete-button-div'>
              <button type='submit' class='delete-button' 
                <%= subcategory_items.length > 0 ? 'disabled' : '' %>>
                Delete
              </button>
              <a href='<%= subcategory.url %>'><button type='button'>Cancel</button></a>
            </div>
          </form>
        </section>
        
<%- include('./partials/footer') %>
